@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased;
    background-color: #f7f4ee;
    color: #0a1c14;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
